html {
    background: url('images/books.jpg') no-repeat center center fixed black;
    background-size: cover
}

.bg-transperant {
    background-color: transparent
}

.background-transparent {
    background: rgba(0, 0, 0, 0.1)
}

#sammy-app,
.background-transparent.active {
    background: rgba(0, 0, 0, 0.3)!important;
}

.display-none {
    display: none;
}

.navbar {
    padding-bottom: 0;
}


/* css all books page*/

.book-info {
    list-style: none;
    padding: 0;
}

.book {
    text-align: left;
    padding-top: 30px;
    color: white;
}

#header-books {
    color: white;
    text-align: center;
}

.book-cover {
    height: 200px;
    width: 	130px;
}


/* css for search input and button */
.add-on .input-group-btn > .btn {
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* css for single book page */
#single-book-page {
    padding: 20px;
}

#single-book-cover img {
    width: 400px;
    height: 600px;
    
}

#single-book-info {
    color: white;
    width: 300px;
}

#single-book-info span {
    display: block;
    text-align: justify;
}