html {
    background: url('images/bookshelf.jpg') no-repeat center center fixed black;
    background-size: cover;
    height:100%;
}

body{
    line-height:1.7;
    height:100%;
}

.bg-transperant {
    background-color: transparent
}

.background-transparent {
    background: rgba(0, 0, 0, 0.1)
}

.page-title{
    background-color: #13afc1 !important;
    color:#fff;
    padding:20px 0;
    text-align: center;
}

.btn-blue{
    color: #fff;
    background-color: #13afc1;
    border-color: #4eb2c1;
}
.btn-blue:hover{
    background-color: #1dbb90;
    border-color: #0cbb83;
    color:#fff;
}

#main-wrapper{
    height:100%;
}
#sammy-app,
.background-transparent.active,
#main-wrapper{
    background-color: #f4f7f9;
    padding:0;

}

.display-none {
    display: none;
}

.navbar {
    padding-bottom: 0;
}


/* css all books page*/

.book-info {
    list-style: none;
    padding: 0;
}

.book {
    text-align: left;
    color: white;
    padding-top: 23px;
}
.book .book-wrapper{
    background:#fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.book a{
    text-decoration: none;
}
.book .title{
    color:#1eaace;
    font-weight:bold;
    text-align: center;
    font-size:20px;
}
.book .book-info li{
    height:27px;
    overflow: hidden;
}
.book .book-info .price{
    text-align: center;
    margin-top: 10px;
    color: black;
    font-size: 20px;
    margin-bottom:10px;
}

.book .btn-blue{
    float: none;
    margin: 0 auto;
    display: block;
    -webkit-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
}

#header-books {
    color: white;
    text-align: center;
}

.book-cover {
    height: 300px;
    width: 100%;
    float: none;
    margin: 0 auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom:5px solid #1eaace;
}


/* css for search input and button */
.add-on .input-group-btn > .btn {
  border: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

/* css for single book page */
#single-book-page {
    padding: 30px;
}

#single-book-cover img {
    width: 100%;
    height: 600px;
}

#single-book-info {
    float: right;
    color: white;
}
#single-book-cart{
    float: left;
    color:#fff !important;
}
#add-to-cart-btn{
    color:#fff !important;
    -webkit-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
}

#single-book-info span {
    display: block;
    text-align: justify;
}
.single-book-wrapper{
    padding: 15px;
    background:#fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#single-book-info *{
    color: black;
}
#single-book-info .buttons i{
    color:#fff;
}

/* Header */
a{
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}

header{
    background:#fff;
}
header .menu-user{
    float: left;
    position: relative;
    width: 100%;
}

header .menu-user ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header .menu-user-register{
    padding:0 0 0 30px;
}

header .menu-user ul > li .btn{
    background-color: #1dbb90;
    border:none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
}

header .menu-user ul > li > a{
    display: block;
    padding: 0 14px;
    color:#fff;
    line-height:30px;
}

header .menu-user-cart .btn{
    background-color: #13afc1 !important;
}

header #main-nav{
    position:relative;
    top: 51px;
}

header #main-nav .nav-item a{
    background: transparent;
    color: #018763;
    display: block;
    padding: 0 14px;
    text-transform: uppercase;
    font-weight:bold;
}


header #main-nav .nav-item a:hover,
header #main-nav .nav-item a.active{
    color:#fff;
    background-color: #1dbb90 !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
}
#menu-user-logout {
    display: none;
}

/* Register */

.main-center{
    width: 50%;
    background: #fff;
    margin: 40px auto;
    padding: 20px;
    border:1px solid #ddd;
}

/* homepage */

#homepage-carousel .carousel-inner{
    max-height:400px;
}
#homepage-carousel .carousel-item{
    max-height:400px;
}
#book-caption-image{
    left: 10%;
    right: auto;
    top: 4%;
}
#book-caption-image img{
    /*height: 330px;*/
    height: 104%;
    animation-delay: 2s;
}
#book-caption-text{
    right: 5%;
    left: auto;
    padding-bottom: 30px;
    top: 5%;
    max-width: 47.2%;
}
#book-caption-text h2{
    font-family: 'Love Ya Like A Sister', cursive;
    animation-delay: 3s;
    text-align: left;
}
#book-caption-text p{
    animation-delay: 4s;
    text-align: left;
}
#book-view-btn{
    right: 45%;
    left: auto;
    animation-delay: 5s;
}
.btn-transparent{
    background:rgba(255,255,255, 0.1);
    border: 2px solid #fff;
    color:#fff;
}
.btn-transparent:hover{
    color:#fff;
}

.section-icon-blue{
    display: block;
    width: 6.375em;
    height: 6.375em;
    margin: 0 auto;
    line-height: 6.375em;
    background-color: #1eaace;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border-width: 0.188em;
    border-style: solid;
    border-color: #1eaace;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
    transition: all ease .3s;
}
.section-icon-blue .shape-round{
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}
.section-icon-blue .shape-round img{
    max-height: 4.688em;
    vertical-align: middle;
}

#homepage-info-bubbles{
    float: left;
    position: relative;
    width:100%;
    margin-top:40px;
}
#homepage-info-bubbles .section-info p{
    color: #8b9094;
    font-weight:bold;
    text-align: center;
    margin-top: 10px;
}

#dropdown-cart{
    position: absolute;
    width: 300px;
    background:#f4f7f9;
    z-index: 99999;
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
    box-shadow: 0 3px 10px rgba(0,0,0, 0.15);
}

#dropdown-cart #container{
    padding: 10px;
}

#dropdown-cart #container > label{
    color: #000;
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
#dropdown-cart .cart-item{
    float: left;
    position: relative;
    width:100%;
    margin-bottom:5px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}
#dropdown-cart .cart-item .left{
    width: 50px;
    float: left;
}
#dropdown-cart .cart-item .right{
    float: left;
    width: 230px;
}
#dropdown-cart .cart-item .title{
    width: 100%;
    overflow: hidden;
    height: 30px;
    display: block;
    padding: 0 10px;
}
#dropdown-cart .cart-item .title a{
    color:black;
}
#dropdown-cart .cart-item .quantity{
    margin-left:10px;
}
#dropdown-cart .totals{
    float: left;
    position: relative;
    width: 100%;
    padding: 5px 0 13px;
}
#dropdown-cart .totals .label{
    font-weight:bold;
}
#dropdown-cart #payment-btn{
    float: right;
}

/* Books list */
#books-list-sidebar{
    border-radius: 15px;
    background:#fff;
    padding: 1.875em;
    margin-top:20px;
}
#books-list-sidebar .categories-list ul{
    list-style-type: none;
    padding: 0px;
}
#books-list-sidebar .categories-list ul li{
    color:#018763;
    cursor:pointer;
    height:35px;
}
#books-list-sidebar .categories-list ul li a{
    color:#018763;
    cursor:pointer;
}
#books-list-sidebar .categories-list ul li a:hover{
    color:#1dbb90;
}
#books-list-sidebar .categories-list ul li:before {
    content: "• ";
    font-size: 30px;
    color: #018763;
    top: 4px;
    position: relative;
}
#books-list-sidebar .subtitle > h3{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 0;
}
#search-bar{
    margin-bottom:20px;
    padding:0;
}
#search-btn{
    line-height: 1.4;
    background:#018763;
}

.page-item{
    display: inherit;
    border: 2px solid #1dbb90;
    color: #ffffff;
    background-color: #1dbb90;
}
.page-link{
    color:#fff;
    background:transparent;
}
.page-link.active{
    background:#fff;
    color:#1dbb90;
}
.pagination{
    margin: 30px 15px;
}
#like-btn{
    background-color: #1dbb90;
    color:#fff;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
    box-shadow: -4px 3px 0px 0px rgba(0,0,0,0.2);
}
#likes{
    color:#fff;
}

#fb-share{
    position: relative;
    margin-top: 3px;
}
#mobile-nav-trigger{
    float: right;
    top: 50px;
    position: relative;
}

@media only screen and (max-width: 768px) {
    #main-nav-wrap{
        float: left;
        position: relative;
        width:100%;
    }
    #main-nav{
        top:0 !important;
        float: left;
        position: relative;
        width:100%;
        margin-bottom: 25px;
    }
    #fb-share{
        display: none;
    }
    #book-caption-text p {
        height: 108px;
        overflow: hidden;
    }
    #book-view-btn {
        right: 38%;
    }
    #book-caption-image {
        right: 60%;
        top: 4%;
        left: 0;
    }
}