<h1 class="page-title text-xs-center">Add book</h1>
<div class="main-login main-center">
    <form class="form-horizontal" method="post" action="/#books">
        <div class="form-group">
            <label for="title" class="cols-sm-2 control-label">Book title</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="text" required class="form-control" name="title" id="title"  placeholder="Enter book title"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="author" class="cols-sm-2 control-label">Author</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="text" required class="form-control" name="author" id="author"  placeholder="Enter author"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="year" class="cols-sm-2 control-label">Year</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="datetime" required class="form-control" name="year" id="year"  placeholder="Enter year"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="category" class="cols-sm-2 control-label">category</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="text" required class="form-control" name="category" id="category"  placeholder="Enter category"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="imgURL" class="cols-sm-2 control-label">image url</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="url" required class="form-control" name="imgURL" id="imgURL"  placeholder="Enter image url"/>
                </div>
            </div>
        </div>
                <div class="form-group">
            <label for="description" class="cols-sm-2 control-label">description</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="text" required class="form-control" name="description" id="description"  placeholder="Enter description"/>
                </div>
            </div>
        </div>
                <div class="form-group">
            <label for="price" class="cols-sm-2 control-label">price</label>
            <div class="cols-sm-10">
                <div class="input-group">
                    <span class="input-group-addon"><i class="" aria-hidden="true"></i></span>
                    <input type="text" pattern="[0-9]+\.[0-9][0-9](?:[^0-9]|$)" required class="form-control" name="price" id="price"  placeholder="Enter price"/>
                </div>
            </div>
        </div>
        <div class="form-group ">
            <button type="submit" class="btn btn-blue btn-lg btn-block login-button">Add</button>
        </div>
    </form>
</div>