    <h2 id="header-books">Books in our store</h2>
    <div class="search">
        <input type="text" id="search-value" class="form-control input-sm" maxlength="64" placeholder="Search books" />
        <button type="submit" id="search-btn" class="btn btn-primary btn-sm">Search</button>
    </div>
    <div id='book-container'>
    {{#book}}
        <div class="book col-md-2">
            <img class="book-cover" src="{{imgURL}}" alt="bookCover">
            <ul class='book-info'>
                <li> <b>Title: </b><span>{{title}}</span> </li>
                <li> <b>Author: </b><span>{{author}}</span></li>
                <li> <b>Year: </b><span>{{year}}</span></li>
            </ul>
        </div>
    </div>
    {{/book}}
