<h2 id="header-books">Categories in our store</h2>
{{#category}}
    <div class="category col-md-2">
        <ul class='category-info'>
            <li class="btn"><a class="btn btn-success" href="/#categories/{{_name}}">{{_name}}</a> </li>
        </ul>
    </div>
{{/category}}