<h2>Categories in our store</h2>
{{#Category}}
    <div class="category col-md-2">
        <ul class='category-info'>
            <li> <b>Name: </b><a href="/#categories/{{name}}">{{name}}</a> </li>
        </ul>
    </div>
{{/Category}}