{{#book}}
<div id="homepage-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="../style/images/slider/blue-background.jpg" alt="First slide">.
            <div id="book-caption-image" class="carousel-caption">
                <!--<img class="animated flipInX" src="../style/images/slider/dependency_inejction.png" />-->
                <img class="animated flipInX" src="{{_imgURL}}" />
            </div>
            <div id="book-caption-text" class="carousel-caption">
                <!--<h2 class="animated fadeInRight">-->
                    <!--Dependency Injection in .NET <br>-->
                    <!--winner of the 2013 Jolt Awards-->
                <!--</h2>-->
                <h2 class="animated fadeInRight">{{_title}}</h2>
                <!--<p class="animated fadeInRight">Presents core DI patterns in plain C#, so you'll fully understand how DI works</p>-->
                <p class="animated fadeInRight">{{trimString _description}}</p>
            </div>
            <div id="book-view-btn" class="carousel-caption animated flipInX">
                <a class="btn btn-transparent" href="#books/{{_id}}">Details</a>
            </div>
        </div>

    </div>
</div>
{{/book}}
<div id="homepage-info-bubbles">
    <div class="col-sm-4">
        <div class="section-icon-blue">
            <figure class="shape-round">
                <img src="../style/images/sections/rocket_home.png" />
            </figure>
        </div>
        <div class="section-info">
            <p>We have over 20 thousand programming books in store.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="section-icon-blue">
            <figure class="shape-round">
                <img src="../style/images/sections/clock_home.png" />
            </figure>
        </div>
        <div class="section-info">
            <p>We provide an extremely fast delivery service. No wait time!</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="section-icon-blue">
            <figure class="shape-round">
                <img src="../style/images/sections/zoom_home.png" />
            </figure>
        </div>
        <div class="section-info">
            <p>If you cant't find what you are looking for contact us! We will find it for you.</p>
        </div>
    </div>
</div>

