<div id="carousel-example-with-caption" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="../style/images/logo_light.png" alt="First slide">
            <div class="carousel-caption">
                <h3>Image caption</h3>
                <p>Image description</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../style/images/books.jpg" alt="Second slide">
        </div>
    </div>
</div>
